body{
    background: rgb(219, 223, 230);
    color: rgb(0, 59, 92);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
} /* page settings */

header, footer, .text-section div{
    background: rgb(163, 203, 250);
    padding: 20px;
} /* header & footer & subsection settings */

header, footer{
    text-align: center;
}

header {
    background-image: url("images/team-pic.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
} /*  header settings */

.header-list li {
    display: inline-block;
    background-color: white;
    margin: 0 20px;
    margin-bottom: 0px;
    padding: 5px;
    border-radius: 2px;
} /*  header nav settings */

.header-list li.logo {
    background-color: transparent;
} /* make logo transparent */

.logo a {
    background-image: url("images/logo-transparent.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    height: 130px;
    position: relative;
    text-indent: -999999px;
    top: -20px;
    width: 300px;
    margin-right: -100px;
} /* logo settings */

a {
    text-decoration: none; }
    /* links settings */

a:hover {
    text-decoration: underline;
} /* underline links on hover */

a:visited {
    color: rgb(0, 59, 92);
} /* links are same color once visited */

section{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
} /* section settings */


section.title-section{
    flex-direction: column;
    align-items: center;
} /* align title & subtitle */

.page-title {
    font-size: 60px; 
    margin-bottom: 10px;
    text-align: center;
} /* Edit page title */

.page-subtitle {
    font-size: 24px;
    text-align: center;
} /* Edit page subtitle */

.race-section figure{
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 400px;
    text-transform: uppercase;
    font-size: 20px;
} /* Edit race section */

.race-section figure img{
    width: 100%; /* Make the images responsive within the figure */
    max-width: 100%;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
}
/* Edit images in race section */

.practice-section{
    flex-direction: column;
    font-size: 30px;
    text-align: center;
} /* edit practice info section */

.practice-section div{
    font-size: 30px;
} /* edit practice info section */

div.practice-join-us{
    font-size: 48px;
}

.practice-list{
    list-style-type: none;
    padding-left: 20px;
} /* customizing when/where/who list */

.practice-list li {
    margin-bottom: 20px; 
} /* Add spacing between list items */


button {
    background: rgb(0, 59, 92); 
    color: white;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
} /* button customizations */

button:hover {
    background: rgb(168, 153, 104);  
} /* change button highight color */
