<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GWU Club Cross Country</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/eboard.css">
</head>
<body>
    <header>
        <nav>
            <ul class="main-menu">
                <li><a href="home.html"><strong>Home</strong></a></li>
                <li><a href="eboard.html"><strong>Meet Eboard</strong></a></li>
                <li><a href="routes.html"><strong>Routes</strong></a></li>
                <li class="logo"><a href="home.html">GW Club XC logo</a></li>
                <li><a href="dues.html"><strong>Dues & Donations</strong></a></li>
                <li><a href="records.html"><strong>Club Records</strong></a></li>
            </ul>
        </nav>
        <nav class="ham-nav">
            <div class="hamburger-menu">
                <img src="../static/images/menu-img.png" alt="Menu">
            </div>
            <div class="off-screen-menu">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="eboard.html">Meet Eboard</a></li>
                    <li><a href="routes.html">Routes</a></li>
                    <li><a href="dues.html">Dues & Donations</a></li>
                    <li><a href="records.html">Club Records</a></li>
                </ul>
            </div>
        </nav>
        <img class="header-logo" src="../static/images/logo-transparent.png" alt="Club XC Logo">
    </header>
    
    <section class="title-section">
        <h1 class="page-title">Meet the Eboard</h1>
        <h2 class="page-subtitle">GW Club XC's 2024 Eboard</h2>
        <img src="../static/images/eboard-pic.JPG">
    </section>


    <section class="president">
        <div>
            <img src="../static/images/morgan-eboard.jpeg">
        </div>
        <div>
            <h3>President - Morgan Fisher</h3>
            <a href="mailto:gwuclubcrosscountry@gmail.com">morganfisher@gwu.edu</a>
        </div>
        <div>
            <p>Hi! My name is Morgan Fisher (she/her) and I am from northeast Ohio. 
                I am a junior studying political science and data science. 
                I really love to run, especially to the monuments, through tunnels, & over bridges. 
                When I'm not running I like to read, swim, and go on hikes. 
                I am very excited to be the president and can't wait for all the fun stuff we have planned for the fall semester!
            </p>
        </div>
    </section>
    

    <footer>
        <p>
            George Washington University · 
            <a href="mailto:gwuclubcrosscountry@gmail.com">gwuclubcrosscountry@gmail.com</a> </p>
        <nav>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSci9r1QAFhfn9UWqv-lMPi13zeLzBq74cltjEGjdGS7RsEOpA/viewform?usp=sf_link" class="button newsletter">
                <img src="../static/images/newsletter-footer.png" alt="Newsletter">
            </a>
            <a href="https://www.instagram.com/gwuclubxc/" class="button insta">
                <img src="../static/images/insta-footer.png" alt="Instagram">
            </a>
            <a href="https://www.strava.com/clubs/328997" class="button strava">
                <img src="../static/images/strava-footer.png" alt="Strava">
            </a>
            <a href="https://calendar.google.com/calendar/u/0/embed?src=i0feo0s7tjsi5evu3usjpk6s28@group.calendar.google.com&ctz=America/New_York" class="button calendar">
                <img src="../static/images/cal-footer.png" alt="Calendar">
            </a>
        </nav>
    </footer>
    
    <script>
        // Select the hamburger menu and off-screen menu elements
        const hamMenu = document.querySelector(".hamburger-menu");
        const offScreenMenu = document.querySelector(".off-screen-menu");

        // Add click event listener to the hamburger menu icon
        hamMenu.addEventListener("click", () => {
            // Toggle the 'active' class on the off-screen menu
            offScreenMenu.classList.toggle("active");
        });

        // Close the off-screen menu when clicking outside of it
        document.addEventListener("click", (event) => {
            if (!event.target.closest(".ham-nav")) {
                hamMenu.classList.remove("active");
                offScreenMenu.classList.remove("active");
            }
        });
    </script>
    
</body>
</html>
